<!DOCTYPE html>
<html>
<head>
    <title>帳號管理</title>
</head>
<body>
    <form>
            <li>
                <input type="checkbox"/>
                <label>
                    帳號：<a href="member_page.html">帳號1</a>
                </label>
            </li>
            <li>
                <input type="checkbox"/>
                <label>
                    帳號：<a href="member_page.html">帳號2</a>
                </label>
            </li>
            <input type="submit" value="刪除" /> <a href="guestbook.html">返回</a>
        </form>

</body>
</html>